/*
Theme Name: Unite
Theme URI: http://colorlib.com/wp/unite
Author: Colorlib
Author URI: http://colorlib.com/wp/
Description: Unite is a clean, modern and fully responsive WordPress wedding theme built using Bootstrap 3 which makes it optimized for tablets and mobile. It is a highly customizable eCommerce theme with unlimited color variations that can be tweaked via simple yet powerful Theme Options. Theme has a built-in Popular Posts Widget, Infinite Scroll (powered by Jatpack) and translation support. It's now available in German and French. Theme features fancy image slider, SEO friendly structure, logo support, social links and widgetized homepage.  This theme was built to be used for wedding related websites but can be tweaked to be used as any other image-centric blog such as travel. Unite theme now supports WooCommerce to create your own eStore.
Version: 2.0.3
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: unite
Domain Path: /languages/
Tags: grid-layout, footer-widgets, blog, education, entertainment, food-and-drink, news, photography, portfolio


This theme, like WordPress, is licensed under the GPL.

Unite is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

*/


/* =Global
----------------------------------------------- */
body {
	color: #6B6B6B;
	word-wrap: normal;
	/* line-height: 1.7; */
	font-size: 15px;
}

li.active {
  background-color: #3579bb;
  border-radius: 3px;
  font-weight: bold;
}
li.active.a {
  color: white;
  font-weight: bold;
}
a {
  color: #3579BB;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
a:focus {
  color: #333;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.navbar-nav > li > a {
    padding: 0;
}
#menu-menu, #menu-menu-1 {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
}
ul#menu-menu-1 {
  display: block;
  padding-bottom: 10px;
  width: 100%;
}
.nav > li {
    text-align: center;
    display: table;
    min-width: intrinsic;
    min-width: -moz-fit-content;
    min-width: -webkit-fit-content;
}
.nav > li:first-child:nth-last-child(1),
.nav > li:first-child:nth-last-child(1) ~ li  {
  width: calc(70% / 1 );
}
.nav > li:first-child:nth-last-child(2),
.nav > li:first-child:nth-last-child(2) ~ li {
  width: calc(70% / 2);
}
.nav > li:first-child:nth-last-child(3),
.nav > li:first-child:nth-last-child(3) ~ li {
  width: calc(70% / 3);
}
.nav > li:first-child:nth-last-child(4),
.nav > li:first-child:nth-last-child(4) ~ li {
  width: calc(70% / 4);
}
.nav > li:first-child:nth-last-child(5),
.nav > li:first-child:nth-last-child(5) ~ li {
  width: calc(70% / 5);
}
.nav > .navbar-collapse.collapse > li:first-child:nth-last-child(6),
.nav > .navbar-collapse.collapse > li:first-child:nth-last-child(6) ~ li {
  width: calc(70% / 6);
}
.nav > li:first-child:nth-last-child(7),
.nav > li:first-child:nth-last-child(7) ~ li {
  width: calc(70% / 7 );
}
.nav > li:first-child:nth-last-child(8),
.nav > li:first-child:nth-last-child(8) ~ li {
  width: calc(70% / 8);
}

@media all and (max-width: 767px) {
    #menu-menu-1.nav > li {
        display: block;
        width: 100%; 
    }
    .navbar-collapse.collapse.in > .container {
       width: 100%;
    }
    .navbar-collapse.collapse.in > ul#menu-menu-1.nav.navbar-nav > li {
       width: 100%;
    }
    .navbar-collapse.collapse.in > ul#menu-menu-1 {
       height: auto;
    }
    .navbar-collapse.collapse.in > ul#menu-menu-1 > li {
       float: none;
       width: 100%;
    }
    .navbar-collapse.collapse.in > #menu-menu-1 > li > a  {
       line-height: inherit;
       text-align: center;
    }
    .navbar-collapse.collapse.in > ul.nav.navbar-nav.navbar-right {
        display: block;
        width: 100%;
    }
    .navbar-collapse.collapse.in > ul.nav.navbar-nav.navbar-right > li > a {
        text-align: center;
    }

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 100;
	color: #3579BB;
}
h1,
.h1 {
  font-size: 34px;
}

h2,
.h2 {
  font-size: 28px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #DDD;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0 0 0 10px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}


/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
@media (max-width: 767px) {
  .pull-left,
  .pull-right {
  	float: none !important;
  }
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

.widget > ul > li,
li.recentcomments {
	border-bottom: 1px solid #EEE;
	position: relative;
	display: block;
	padding: 10px 15px;
}
.widget ul {
  padding: 10px 10px;
}

.widget-title {
  border-bottom: 1px solid #eee;
}
.widget ul.nav.nav-tabs {
  padding: 0;
}
.tab-content ul li {
  list-style: none;
}

.tab-content .tab-thumb {
  float: left;
  margin-right: 8px;
  padding-top: 5px;
  float: left;
  line-height: 0px;
  width: 60px;
  height: 60px;
}
.tab-content li {
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 8px;
  padding: 0 0 6px;
}
.tab-content .tab-entry {
	display: block;
}
.tab-content > .active {
  border: 1px solid #DDD;
  border-top: none;
}
.tab-content ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-content .tab-entry {
  font-weight: 600;
  font-size: 14px
}
.tab-comment {
  font-size: 18px;
  padding: 0 10px;
}
.nav-tabs > li > a {
  border-bottom-color: transparent;
  text-transform: uppercase;
}
.tab-content i {
    font-size: 12px;
}
.tab-thumb.thumbnail {
    margin-bottom: 5px;
}
.tab-content #messages li:before {
  content: '\f0e5';
  font-family: fontawesome;
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #3579BB;
}
.btn-primary, .label-primary {
	background-color: #3579BB;
	border-color: #3579BB;
}
.btn-primary:hover, .label-primary[href]:hover, .label-primary[href]:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
	background-color: #4b3371;
	border-color: #4b3371;
}
.widget .input-group {
    width: 100%;
}
/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
#infinite-handle span {
  display: block;
  text-align: center;
  font-size: 18px !important;
  margin-bottom: 20px;
  border-radius: 4px !important;
  padding: 12px !important;
  background: transparent !important;
  border: 1px solid #DDD;
  color: #3579BB!important;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}
#infinite-handle span:hover {
  background-color: #3579BB!important;
  color: #fff !important;
}
/* =Custom Styles
----------------------------------------------- */
#content {
  padding-top: 10px;
}
.site-branding {
  margin-top: 20px;
  margin-left: -15px;
}
.site-description {
  color: #777;
  font-weight: 200;
  font-size: 16px;
}
.page-template-page-homepage-php .carousel {
	margin-top: -20px;
	margin-bottom: 20px;
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] a,
.more-link {
	border: 1px solid #DDD;
	padding: 6px 12px;
	border-radius: 4px;
	display: block;
}
.site-main [class*="navigation"] a:hover,
.more-link:hover {
  color: #fff;
  background: #3579BB;
  text-decoration: none;
}
.more-link {
  float: right;
  margin: 10px 0;
}
.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: auto;
    width: auto;
}
.navbar.navbar-default {
  background-color: transparent;
  font-weight: 200;
  font-size: large;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.10);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	border-right: 1px solid rgba(0,0,0,.2);
	border-left: none;
}
.navbar {
	border-radius: 0;
}
.navbar-default {
	border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
	padding: 18px 20px;
	color: #fff;
}
.dropdown-menu,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #3579BB;
	border: none;
}
.dropdown-menu .divider {
	background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > .dropdown-menu {
	padding: 0;
}
.navbar-nav > li > a {
	padding-top: 18px;
	padding-bottom: 18px;
}

.navbar-toggle:before {
  left:-50px;
  top: 0;
  position:absolute;
  width:50px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

#respond {
	background-color: transparent!important;
	box-shadow: none!important;
	padding: 0px!important;
}

#respond > p, #respond p.comment-notes, p.logged-in-as {
	margin-bottom: 10px;
}

p.logged-in-as {
	padding-bottom: 0px;
}

.comment-list {
	margin-bottom: 40px!important;
	margin-left: 0px!important;
	padding-left: 0;
}

.comment-list li {
	list-style: none!important;
}

.comment .comment-body {
	background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 25px;
  margin-top: 2em;
  padding-left: 116px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #eee;
  border-radius: 4px;
}

.comment-list .children {
	margin-left: 0px!important;
	padding-left: 40px;
	border-left: 1px solid #EEE;
	background-repeat: no-repeat;
	background-position: left 20px;
}

.comment-list li.comment > div img.avatar {
	position: absolute;
	left: 29px;
	top: 29px;
}

#comment-form-title {
  font-size: 24px;
  padding-bottom: 10px;
}
.vcard .avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}
.comment-metadata {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
}
.comment-reply-link {
  float: right;
}
.form-allowed-tags code {
  word-wrap: break-word;
  white-space: inherit;
}
.comment-respond label {
  display: block;
  font-weight: normal;
}
.comment-respond .required {
  color: #C7254E;
}
/* =Post styling
----------------------------------------------- */
.entry-meta a {
	font-size: 12px;
}
#main .page-header {
  margin-top: 0;
}
.entry-meta {
  text-transform: uppercase;
}
.entry-meta a {
  color: #6B6B6B;
}
.entry-meta .fa {
  font-size: 16px;
  margin-right: 3px;
  color: #3579BB;
}
.entry-meta span {
  margin-right: 10px;
}
.entry-title {
  font-size: 36px;
  font-weight: 100;
  color: #774924;
}
.btn.btn-primary.read-more {
  float: right;
  border: 1px solid #DDD;
  color: #3579BB;
  background-color: transparent;
}
.btn.btn-primary.read-more:hover {
  color: #FFF;
  background-color: #3579BB;
}
.search .more-link {
  display: none;
}
hr.section-divider {
  height: 1px;
  background: #EEE;
  position: relative;
  overflow: visible;
  z-index: 100;
  margin-top: 70px;
  margin-bottom: 70px;
}

hr.section-divider:after {
  z-index: 10000;
  content: "\f004";
  font-family: FontAwesome;
  color: #3579BB;
  position: absolute;
  top: -23px;
  left: 50%;
  right: 50%;
  width: 40px;
  height: 30px;
  margin-left: -20px;
  font-size: 30px;
}
.entry-content {
	margin: 0;
}
/* =Attachment styling
----------------------------------------------- */
#image-navigation .nav-previous a,
#image-navigation .nav-next a{
  padding: 5px 20px;
  border: 1px solid #DDD;
  border-radius: 4px;
  display: block;
}
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  background-color: #3579BB;
  color: #fff;
}
#image-navigation .nav-previous,
#image-navigation .nav-next {
  margin: 10px 0;
}

/* =Footer
----------------------------------------------- */

.footer-nav.nav > li {
  display: block;
}
.footer-nav.nav {
	margin-bottom: 2px;
}
.copyright {
  margin-top: 10px;
  float: right;
  text-align: right;
}
#colophon {
  background-color: transparent;
  padding: 10px 0;
  margin-top: 20px;
}
.site-info a {
  color: #eee;
}
.site-info a:hover {
	color: #999;
}
.site-info {
  color: #999;
  font-size: 12px;
}
.footer-nav.nav > li > a:hover {
  background-color: transparent;
}

@media (max-width: 767px) {
	.site-info, .copyright {
	  text-align: center;
	}
	.footer-nav.nav, .copyright {
		float: none;
	}
	.carousel-caption {
		display: none;
	}
}


/* =Social icons
----------------------------------------------- */

#social {
  float: right;
  top: 55px;
  position: relative;
}
.widget #social {
  float: none;
  top: 0;
}
/* =Slider
----------------------------------------------- */
.carousel-caption h4 {
	background: #54397e;
  background: rgba(84, 57, 126,0.7);
  padding: 15px;
  color: #fff;
  max-width: 55%;
  margin-bottom: 4px;
}
.carousel-caption {
  left: 20px;
  text-align: left;
  padding-bottom: 20px;
}
.carousel-caption p {
	background: #555;
  background: rgba(0, 0, 0,0.5);
  padding: 15px;
  max-width: 50%;
}
.carousel {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 5px;
  }
}

/* =WooCommerce styling
----------------------------------------------- */

#shipping_method_0_free_shipping,
#shipping_method_0_international_delivery,
#shipping_method_0_flat_rate {
    margin-right: 30px;
}

body label,
body .label {
    color: #6B6B6B;
}

/* Layout */
/*
@media (min-width: 992px) {
	.side-pull-left #primary{
		float: left;
	}
	.side-pull-right #primary{
		float: right;
	}
}
*/
.no-sidebar #secondary, .full-width #secondary{
    display: none;
}
.no-sidebar #primary{
    float: none;
    margin: 0 auto;
}
.full-width #primary{
    width: 100%;
}

@media (min-width: 992px) {
  
}
@media (min-width:1600px) {
	.container {
		width:1570px
	}
}
:focus {
	outline:none !important
}
::-moz-focus-inner {
	border:0 !important
}
.homepage {
	background:#f5f5f5
}
.verify {
	display:none
}
.form-control {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px
}
::selection {
	color:#fff;
	background-color:#3579bb
}
.btn {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#555;
	border:none;
	font-size:16px;
	font-weight:600;
	color:#fff;
	padding:8px 16px;
	text-transform:uppercase;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	-ms-transition:all .2s ease-in;
	transition:all .2s ease-in
}
@media (min-width:768px) {
	.btn {
		margin:0
	}
}
.btn .fa {
	margin-left:5px
}
.btn:hover {
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	-ms-transition:all .1s ease-in;
	transition:all .1s ease-in;
	background:#333
}
.btn-primary {
	background:#3579bb
}
.btn-primary:hover {
	background:#222222
}
.btn-secondary {
	background:none;
	border:3px solid #3579bb;
	color:#3579bb;
	padding:16px
}
.btn-secondary:hover {
	background:none;
	border-color:#222222
}
.imgliquid {
	background-position:center center !important;
	background-repeat:no-repeat !important;
	background-size:contain !important
}
.imgliquid.fill {
	background-size:cover !important
}
.imgliquid a:first-child {
	display:block;
	height:100%;
	width:100%
}
.imgliquid img {
	display:none !important;
	visibility:hidden !important
}
.site-breadcrumbs {
	margin-bottom:0;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:15px;
	padding-top:15px;
	background:#f5f5f5
}
.site-breadcrumbs h1 {
	font-family:'Playfair Display',Arial,Helvetica,serif;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
@media (min-width:768px) {
	.site-breadcrumbs {
		height:75px
	}
	.site-breadcrumbs h1 {
		overflow:hidden;
		float:left;
		margin:0;
		font-size:36px;
		line-height:45px;
		max-height:45px;
		max-width:550px
	}
}
@media (min-width:1024px) {
	.site-breadcrumbs h1 {
		max-width:800px
	}
}
@media (min-width:1260px) {
	.site-breadcrumbs {
		height:100px
	}
	.site-breadcrumbs h1 {
		max-width:1000px;
		line-height:68px;
		max-height:68px;
		font-size:40px
	}
}
@media (min-width:1600px) {
	.site-breadcrumbs h1 {
		max-width:1350px;
		font-size:48px
	}
}
@media (max-width:767px) {
	.site-breadcrumbs {
		position:relative;
		padding:0;
		margin:0;
		overflow:hidden;
		height:75px
	}
	.site-breadcrumbs h1 {
		font-size:26px
	}
	.site-breadcrumbs .glyphicon.visible-xs,.site-breadcrumbs .fa.visible-xs {
		position:absolute;
		left:15px;
		top:0;
		z-index:1;
		font-size:23px;
		line-height:50px;
		height:50px;
		-webkit-transition:all .1s linear;
		-o-transition:all .1s linear;
		transition:all .1s linear;
		-webkit-transition:all .1s linear 1s linear;
		-moz-transition:all .1s linear 1s linear;
		-o-transition:all .1s linear 1s linear;
		-ms-transition:all .1s linear 1s linear;
		transition:all .1s linear;
	}
	.site-breadcrumbs:hover .glyphicon.visible-xs,.site-breadcrumbs:hover .fa.visible-xs {
		color:#3579bb;
	}
}
.site-breadcrumbs .breadcrumb-back {
	float:left;
	padding:0 10px;
	font-size:13px;
	line-height:30px;
	height:30px;
	border:1px solid #555;
	margin-right:15px
}
.site-breadcrumbs .breadcrumb-back a {
	color:#222222
}
.site-breadcrumbs p {
	font-family:"Raleway",Arial,Helvetica,sans-serif;
	font-size:20px;
	line-height:30px;
	margin:0
}
@media (max-width:767px) {
	.site-breadcrumbs p {
		font-size:23px
	}
}
.site-breadcrumbs p a {
	color:#222222;
	text-decoration:none;
	font-size:16px;
	-webkit-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-transition:all .1s linear 1s linear;
	-moz-transition:all .1s linear 1s linear;
	-o-transition:all .1s linear 1s linear;
	-ms-transition:all .1s linear 1s linear;
	transition:all .1s linear 1s linear
}
.site-breadcrumbs p a:hover {
	color:#3579bb;
	text-decoration:underline
}
@media (max-width:767px) {
	.site-breadcrumbs p a {
		position:absolute;
		left:0;
		top:0;
		line-height:50px;
		height:50px;
		width:100%;
		text-decoration:none;
		text-overflow:ellipsis;
		overflow:hidden;
		white-space:nowrap;
		padding-left:36px;
		padding-right:15px;
		background:#f5f5f5
	}
	.site-breadcrumbs p a.last {
		display:none
	}
}
.site-breadcrumbs p span {
	padding:0 7.5px;
	font-size:16px
}
@media (max-width:767px) {
	.site-breadcrumbs p span {
		display:none
	}
}
#zp_wrapper form {
	position:relative
}
@media (min-width:768px) {
	#zp_wrapper input[type=text] {
		float:left;
		width:280px
	}
}
#zp_wrapper button[type=submit] {
	position:absolute;
	right:1px;
	top:1px;
	width:116px;
	height:45px;
	border-top:0;
	border-right:0;
	border-bottom:0;
	-webkit-transition:all .1s linear;
	-o-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-transition:all .1s linear 1s linear;
	-moz-transition:all .1s linear 1s linear;
	-o-transition:all .1s linear 1s linear;
	-ms-transition:all .1s linear 1s linear;
	transition:all .1s linear 1s linear;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0
}
@media (min-width:768px) {
	#zp_wrapper button[type=submit] {
		position:static
	}
}
.google-maps {
	height:150px;
	overflow:hidden
}
.google-maps #map-route #map-route-input {
	border:1px solid #91a9cc;
	background:#fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#555;
	line-height:16px;
	height:30px;
	padding:6px;
	width:260px;
	margin-top:7px;
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3)
}
.google-maps #map-route #map-route-input:focus {
	border:1px solid #76b539
}
.google-maps #map-route #map-route-input-mode {
	border:1px solid #91a9cc;
	background:#fff;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	color:#555;
	line-height:16px;
	height:30px;
	padding:6px;
	width:150px;
	margin-top:7px;
	margin-left:10px;
	-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.3);
	box-shadow:0 1px 2px 0 rgba(0,0,0,0.3)
}
.google-maps #map-route #map-route-input-mode:focus {
	border:1px solid #76b539
}
.google-maps #map-route #map-route-canvas {
	height:150px
}
#directions-panel {
	display:none;
	margin-bottom:30px
}
#directions-panel .adp-marker {
	float:left;
	margin:5px 10px;
	height:30px;
	width:auto
}
.site-header {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:0;
	margin:0;
	background:#fff
}
@media (min-width:768px) {
	.site-header {
		-webkit-box-shadow:0 4px 4px 0 rgba(0,0,0,0.3);
		-moz-box-shadow:0 4px 4px 0 rgba(0,0,0,0.3);
		box-shadow:0 4px 4px 0 rgba(0,0,0,0.3)
	}
}
.site-header .navbar-topbar {
	background:#774924;
	max-height:50px;
	overflow:hidden;
	border-bottom:1px solid #e5e5e5
}
.site-header .navbar-topbar .menu ul {
	float:left;
	list-style:none;
	padding:0;
	margin-bottom:0
}
.site-header .navbar-topbar .menu ul li {
	float:left;
	font-family:"Raleway",Arial,Helvetica,sans-serif;
	font-size:16px;
	color:#fff;
	line-height:50px;
	overflow:hidden;
	padding:0 15px
}
.site-header .navbar-topbar .menu ul li a {
	color:#fff
}
.site-header .navbar-topbar .menu ul i {
	font-size:20px;
	color:#fff;
	padding:0 5px 0 0
}
.site-header .navbar-topbar #navbar-search-topbar input[type=search] {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	border:none;
	width:280px;
	height:50px;
	background:#353535;
	color:#fff
}
.site-header .navbar-topbar #navbar-search-topbar button[type=submit] {
	position:absolute;
	right:16px;
	top:5px;
	background:none;
	color:#777;
	font-size:20px
}
.site-header .navbar-header {
	position:relative;
	z-index:101;
	-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);
	box-shadow:0 2px 3px 0 rgba(0,0,0,0.2)
}
@media (min-width:768px) {
	.site-header .navbar-header {
		-webkit-box-shadow:0 0 0 0 rgba(0,0,0,0);
		-moz-box-shadow:0 0 0 0 rgba(0,0,0,0);
		box-shadow:0 0 0 0 rgba(0,0,0,0);
		float:none;
		height:95px
	}
}
.site-header .navbar-header .container {
	position:relative
}
.site-header .navbar-header .navbar-brand {
	float:left;
	height:auto;
	max-width:50%;
	overflow:hidden;
	line-height:34px;
	padding:0;
	font-family:'Playfair Display',Arial,Helvetica,serif;
	font-size:20px;
	color:#222222
}
@media (min-width:768px) {
	.site-header .navbar-header .navbar-brand {
		max-width:35%;
    height: auto;
		line-height:70px;
		font-size:26px;
		padding:0;
	}
}
@media (min-width:1024px) {
	.site-header .navbar-header .navbar-brand {
		max-width:45%;
    height: auto;
	}
}
.site-header .navbar-header .navbar-brand img {
	display:inline-block;
	max-width:100%;
	max-height:120px;
  padding: 4px;
}
@media (min-width:768px) {
	.site-header .navbar-header .navbar-brand img {
		max-height:150px;
    max-width: 100%;
	}
}
.site-header .navbar-header .navbar-toggle {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	float:right;
	background:none;
	margin:10px 0;
	padding:0 15px;
	border:0;
	width:auto;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:26px
}
.site-header .navbar-header .navbar-toggle:hover {
	color:#3579bb
}
.site-header .navbar-header .navbar-search-toggle {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	float:right;
	background:none;
	margin:10px 0;
	padding:0 10px;
	border:0;
	width:auto;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:26px
}
.site-header .navbar-header .navbar-search-toggle:hover {
	color:#3579bb
}
.site-header .navbar-header .navbar-telephone {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	float:right;
	background:none;
	margin:10px 0;
	padding:0 10px;
	border:0;
	width:auto;
	height:40px;
	color:#222222;
	line-height:40px;
	text-align:center;
	font-size:26px
}
.site-header .navbar-header .navbar-telephone a:hover {
	color:#3579bb;
	text-decoration:none
}
.site-header .navbar-header .navbar-telephone:hover {
	color:#3579bb;
	text-decoration:none
}
.site-header .navbar-header .navbar-telephone i {
	color:#222222
}
.site-header .navbar-header .navbar-telephone i:hover {
	text-decoration:none;
	color:#3579bb
}
.site-header .navbar-header #navbar-search {
	position:relative;
	width:100%;
	clear:both
}
@media (min-width:768px) {
	.site-header .navbar-header #navbar-search {
		margin:30px 0 0 30px;
		display:block;
		float:left;
		width:300px;
		clear:none
	}
}
@media (min-width:1024px) {
	.site-header .navbar-header #navbar-search {
		width:300px;
	}
}
.site-header .navbar-header #navbar-search .form-control {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	box-shadow:inset 0 0 0 rgba(0,0,0,0);
	height:40px;
	width:100%;
	border:0;
	float:left;
	padding-right:40px;
	margin-bottom:15px;
	background:#fff;
	border-bottom:1px solid #222222
}
@media (min-width:768px) {
	.site-header .navbar-header #navbar-search .form-control {
		width:240px
	}
}
@media (min-width:1260px) {
	.site-header .navbar-header #navbar-search .form-control {
		-webkit-transition:width .6s ease;
		-moz-transition:width .6s ease;
		-o-transition:width .6s ease;
		-ms-transition:width .6s ease;
		transition:width .6s ease;
		width:0;
		padding:0;
		border:0;
		background:#fff
	}
	.site-header .navbar-header #navbar-search .form-control.huidig_item {
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
		-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
		box-shadow:inset 0 0 0 rgba(0,0,0,0);
		width:240px;
		padding:6px 12px;
		font-size:16px;
		line-height:1.42857143;
		color:#555;
		background-color:#fff;
		border-bottom:1px solid #222222;
		position:absolute;
		z-index:999
	}
}
.site-header .navbar-header #navbar-search .btn {
	-webkit-transition:width .6s ease;
	-moz-transition:width .6s ease;
	-o-transition:width .6s ease;
	-ms-transition:width .6s ease;
	transition:width .6s ease;
	position:absolute;
	background:none;
	padding:0;
	right:0;
	top:0;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:26px
}
.site-header .navbar-header #navbar-search .btn:hover {
	color:#3579bb
}
.site-header .navbar-header #navbar-search .btn.huidig_item {
	-webkit-transition:width .6s ease;
	-moz-transition:width .6s ease;
	-o-transition:width .6s ease;
	-ms-transition:width .6s ease;
	transition:width .6s ease;
	-webkit-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:inset 0 0 0 rgba(0,0,0,0);
	box-shadow:inset 0 0 0 rgba(0,0,0,0);
	float:right;
	margin-right:15px;
	background:none
}
@media (min-width:768px) {
	.site-header .navbar-header #navbar-search .btn {
		position:static;
		float:left;
		color:#222222
	}
}
.site-header .navbar-header #navbar-search i {
	color:#222222
}
.site-header .navbar-header #navbar-search i:hover {
	color:#3579bb
}
.site-header .navbar-header .navbar-cart {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	float:right;
	background:none;
	margin:10px 0;
	padding:0 10px;
	border:0;
	width:auto;
	height:40px;
	color:#222222;
	line-height:40px;
	text-align:center;
	font-size:26px
}
.site-header .navbar-header .navbar-cart .shopping-cart {
	display:block;
	height:24px;
	width:24px;
	background-image:url('../images/icon_cart.png');
	background-size:24px 24px
}
.site-header .navbar-header .navbar-cart .shopping-cart:hover {
	background-image:url('../images/icon_cart_hover.png')
}
.site-header .navbar-header .navbar-cart:hover {
	color:#3579bb
}
@media (min-width:768px) {
	.site-header .navbar-header .navbar-cart {
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		background:#3579bb;
		border:none;
		float:right;
		height:50px;
		text-align:center;
		margin-top:15px;
		padding-top:0;
		padding-right:15px;
		padding-left:15px;
		font-family:"Raleway",Arial,Helvetica,sans-serif;
		font-weight:400;
		color:#fff;
		font-size:16px;
		line-height:50px
	}
	.site-header .navbar-header .navbar-cart .fa {
		font-size:18px;
		margin-right:5px
	}
	.site-header .navbar-header .navbar-cart .amount {
		margin-right:5px
	}
	.site-header .navbar-header .navbar-cart .total {
		font-family:'Roboto',Arial,Helvetica,sans-serif;
		font-weight:bold
	}
	.site-header .navbar-header .navbar-cart .text {
		font-weight:400
	}
	.site-header .navbar-header .navbar-cart .fa-angle-right {
		margin-left:5px
	}
	.site-header .navbar-header .navbar-cart:hover {
		text-decoration:none
	}
	.site-header .navbar-header .navbar-cart .icon-phone {
		color:#222222;
		font-size:20px
	}
	.site-header .navbar-header .navbar-cart:hover {
		background:#222222;
		color:#fff
	}
}
.site-header .navbar-header .navbar-checkout {
	position:absolute;
	z-index:10;
	top:60px;
	right:0;
	overflow:hidden;
	max-width:100%;
	width:429px;
	pointer-events:none
}
@media (min-width:768px) {
	.site-header .navbar-header .navbar-checkout {
		top:75px;
		right:15px
	}
}
.site-header .navbar-header .navbar-checkout.active {
	pointer-events:auto
}
.site-header .navbar-header .navbar-checkout::before {
	-webkit-transform:translate3d(100%, -100%, 0) translate3d(0, 0, 0);
	-moz-transform:translate3d(100%, -100%, 0) translate3d(0, 0, 0);
	-o-transform:translate3d(100%, -100%, 0) translate3d(0, 0, 0);
	-ms-transform:translate3d(100%, -100%, 0) translate3d(0, 0, 0);
	transform:translate3d(100%, -100%, 0) translate3d(0, 0, 0);
	-webkit-box-shadow:0 2px 2px 0 rgba(0,0,0,0.12);
	-moz-box-shadow:0 2px 2px 0 rgba(0,0,0,0.12);
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.12);
	position:absolute;
	content:'';
	top:0;
	left:0;
	width:100%;
	height:100%;
	border:1px solid #e5e5e5;
	background:#fff;
	-webkit-transition:-webkit-transform .6s cubic-bezier(.2, 1, .3, 1);
	-moz-transition:-moz-transform .6s cubic-bezier(.2, 1, .3, 1);
	-o-transition:-o-transform .6s cubic-bezier(.2, 1, .3, 1);
	-ms-transition:-ms-transform .6s cubic-bezier(.2, 1, .3, 1);
	transition:transform .6s cubic-bezier(.2, 1, .3, 1)
}
.site-header .navbar-header .navbar-checkout.active::before {
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition-delay:0s;
	transition-delay:0s
}
.site-header .navbar-header .navbar-checkout .inner {
	-moz-opacity:0;
	-khtml-opacity:0;
	-webkit-opacity:0;
	opacity:0;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:alpha(opacity=0);
	position:relative;
	padding:15px
}
.site-header .navbar-header .navbar-checkout.active .inner {
	-moz-opacity:1;
	-khtml-opacity:1;
	-webkit-opacity:1;
	opacity:1;
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter:alpha(opacity=100);
	-webkit-transition:opacity 1.5s cubic-bezier(.2, 1, .3, 1);
	-moz-transition:opacity 1.5s cubic-bezier(.2, 1, .3, 1);
	-o-transition:opacity 1.5s cubic-bezier(.2, 1, .3, 1);
	-ms-transition:opacity 1.5s cubic-bezier(.2, 1, .3, 1);
	transition:opacity 1.5s cubic-bezier(.2, 1, .3, 1)
}
.site-header .navbar-header .navbar-checkout .inner-row {
	-webkit-transform:translate3d(429px, 0, 0);
	-moz-transform:translate3d(429px, 0, 0);
	-o-transform:translate3d(429px, 0, 0);
	-ms-transform:translate3d(429px, 0, 0);
	transform:translate3d(429px, 0, 0)
}
.site-header .navbar-header .navbar-checkout .inner-row .price-subtotal,.site-header .navbar-header .navbar-checkout .inner-row .price-shipment,.site-header .navbar-header .navbar-checkout .inner-row .price {
	font-family:'Roboto',Arial,Helvetica,sans-serif
}
.site-header .navbar-header .navbar-checkout.active .inner-row {
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	-o-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform .6s cubic-bezier(.2, 1, .3, 1);
	-moz-transition:-moz-transform .6s cubic-bezier(.2, 1, .3, 1);
	-o-transition:-o-transform .6s cubic-bezier(.2, 1, .3, 1);
	-ms-transition:-ms-transform .6s cubic-bezier(.2, 1, .3, 1);
	transition:transform .6s cubic-bezier(.2, 1, .3, 1)
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(1) {
	-webkit-transition-delay:.02s;
	transition-delay:.02s;
	position:relative;
	z-index:103
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(2) {
	-webkit-transition-delay:.04s;
	transition-delay:.04s
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(3) {
	-webkit-transition-delay:.06s;
	transition-delay:.06s
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(4) {
	-webkit-transition-delay:.08s;
	transition-delay:.08s
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(5) {
	-webkit-transition-delay:.1s;
	transition-delay:.1s
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(6) {
	-webkit-transition-delay:.12s;
	transition-delay:.12s
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(7) {
	-webkit-transition-delay:.14s;
	transition-delay:.14s
}
.site-header .navbar-header .navbar-checkout.active .inner-row:nth-child(8) {
	-webkit-transition-delay:.16s;
	transition-delay:.16s
}
.site-header .navbar-header .navbar-checkout .cancel {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	float:right;
	background:none;
	margin:0 0 0 10px;
	padding:7.5px;
	border:0;
	width:auto;
	height:auto;
	line-height:1;
	text-align:center;
	font-size:36px
}
.site-header .navbar-header .navbar-checkout .cancel:hover {
	color:#3579bb
}
.site-header .navbar-header .navbar-checkout h4 {
	font-family:"Raleway",Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:26px;
	color:#222222;
	margin:0
}
.site-header .navbar-header .navbar-checkout p {
	font-family:"Raleway",Arial,Helvetica,sans-serif;
	font-style:italic;
	margin:0 0 15px
}
.site-header .navbar-header .navbar-checkout p strong {
	font-style:normal
}
.site-header .navbar-header .navbar-checkout p.price {
	font-style:normal;
	margin:0 0 10px
}
.site-header .navbar-header .navbar-checkout p.price label {
	float:left;
	width:70%;
	margin:0
}
.site-header .navbar-header .navbar-checkout p.freeshipment {
	font-style:normal;
	color:#222222
}
.site-header .navbar-header .navbar-checkout.empty .inner {
	padding-top:30px;
	padding-bottom:30px
}
.site-header .navbar-header .navbar-checkout.empty .inner-row {
	text-align:center
}
.site-header .navbar-header .navbar-checkout.empty .cancel {
	float:none
}
.site-header .navbar-header .navbar-checkout .products {
	list-style:none;
	padding:0;
	height:92px;
	margin:0 -15px 15px;
	border:1px solid #d5d5d5;
	border-right:0;
	overflow:hidden
}
.site-header .navbar-header .navbar-checkout .products li {
	float:left;
	width:107px;
	height:90px;
	border-right:1px solid #d5d5d5
}
.site-header .navbar-header .navbar-checkout .products li a {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	display:block;
	color:#222222;
	text-decoration:none;
	height:90px
}
.site-header .navbar-header .navbar-checkout .products li a:hover {
	background:#f9f9f9
}
.site-header .navbar-header .navbar-checkout .products li a .image {
	display:block;
	text-align:center;
	line-height:65px;
	height:65px
}
.site-header .navbar-header .navbar-checkout .products li a .image img {
	max-width:107px;
	max-height:55px
}
.site-header .navbar-header .navbar-checkout .products li a .price {
	display:block;
	text-align:center;
	font-size:13px
}
.site-header .navbar-header .navbar-checkout .btn {
	-webkit-transition:all .1s linear;
	-moz-transition:all .1s linear;
	-o-transition:all .1s linear;
	-ms-transition:all .1s linear;
	transition:all .1s linear;
	font-weight:bold;
	line-height:40px;
	height:40px;
	padding:0;
	border:0;
	margin:0;
	text-align:center;
	text-transform:uppercase
}
.site-header .navbar-header .navbar-checkout .btn.btn-continue {
	float:left;
	width:32%;
	background:none;
	line-height:36px;
	border:2px solid #3579bb;
	color:#3579bb;
	font-weight:600
}
.site-header .navbar-header .navbar-checkout .btn.btn-continue:hover {
	border-color:#222222;
	color:#222222
}
.site-header .navbar-header .navbar-checkout .btn.btn-shopping-cart {
	background:#3579bb;
	float:right;
	width:64%
}
.site-header .navbar-header .navbar-checkout .btn.btn-shopping-cart:hover {
	background:#222222;
	color:#fff
}
.site-header .navbar-header .navbar-collapse {
	float:left;
	border-top:0;
	margin:20px 0 15px 0
}
/*
@media (min-width:1024px) {
	.site-header .navbar-header .navbar-collapse {
		margin:20px 0 15px 30px
	}
}
*/
.site-header .navbar-collapse {
	padding:0
}
@media (min-width:768px) {
	.site-header .navbar-collapse {
		-webkit-transition:max-height .2s linear;
		-moz-transition:max-height .2s linear;
		-o-transition:max-height .2s linear;
		-ms-transition:max-height .2s linear;
		transition:max-height .2s linear
	}
}
.site-header .navbar-collapse .navbar-nav {
	margin:0;
	float:left;
}
@media (min-width:768px) {
	.site-header .navbar-collapse .navbar-nav li {
		margin-right:4px
	}
}
.site-header .navbar-collapse .navbar-nav li a {
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	-ms-transition:all .1s ease-in;
	transition:all .1s ease-in;
	font-weight:400;
	font-size:23px;
	color:#222222;
	line-height:22px;
	border-top:1px solid #eee;
	display:block;
	padding:10px 15px
}
@media (min-width:768px) {
	.site-header .navbar-collapse .navbar-nav li a {
		padding:0 5px 0 5px;
		font-size:15px;
		font-weight:400;
		line-height:34px;
		border:0
	}
	.site-header .navbar-collapse .navbar-nav li.active a {
    font-weight: bold;
    color:white;
  }
}
@media (min-width:992px) {
	.site-header .navbar-collapse .navbar-nav li a {
		font-size:17px;
		line-height:40px;
		padding:0 5px 0 5px
	}
}
@media (min-width:1600px) {
  .site-header .navbar-collapse .navbar-nav li a {
    padding:0 20px 0 20px;
  }
}
.site-header .navbar-collapse .navbar-nav li a.current_item,.site-header .navbar-collapse .navbar-nav li a:hover,.site-header .navbar-collapse .navbar-nav li a:focus {
	-webkit-transition:all .1s ease-in;
	-moz-transition:all .1s ease-in;
	-o-transition:all .1s ease-in;
	-ms-transition:all .1s ease-in;
	transition:all .1s ease-in;
	font-weight:600;
	color:#fff;
	background:#3579bb;
	text-decoration:none
}
@media (min-width:768px) {
	.site-header .navbar-collapse .navbar-nav li a.current,.site-header .navbar-collapse .navbar-nav li a:hover,.site-header .navbar-collapse .navbar-nav li a:focus {
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		font-weight:400;
		color:#fff;
		background:#3579bb
	}
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
  line-height: 2;
}
.woocommerce ul.products li.product .price {
  color: #3579BB;
}
.woocommerce span.onsale {
  background-color: #3579BB;
}
/* Overlay pictures on front page */
.containerBox {
  position: relative;
  display: inline-block;
}
.text-box {
  position: absolute;    
  height: 100%;
  text-align: left;    
  width: 100%;
}
.text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.containerBox h4 {
  display: inline-block;
  font-size: 1.5em; /*or whatever you want*/
  color: #FFF;   
  padding: 0.5em;
  background-color: black;
  opacity: 0.65;

}
.containerBox img {
  display: block;
  max-width: 100%;
  height: auto;
}

#colophon.site-footer {
  background: #774924;
}
.woocommerce form .form-row label.checkbox, .woocommerce-page form .form-row label.checkbox {
  display:inline;
}
.woocommerce form .form-row .input-checkbox {
  position: inherit;
}
